*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #DF007C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4% ;
    font-family: 'Anton', sans-serif;
    color: white;

}
.Left-nav span {
    font-size: 35px;
    font-weight: bold;
}
.Right-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;

}
nav .Right-nav ul li{
    cursor: pointer;
    margin-top: 7%;
}
nav .Right-nav ul li:hover{
    color: black;
}


.Landing-page {
    height: calc(100vh - 47px);
}

.Top-div {
    height: 50%;
    border: 1px solid black;
    width: 80%;
    margin: 20px auto ;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.Bottom-div {
    height: calc(50% - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Satisfy', cursive;

}
.Bottom-div span{
    color: #601940;
    margin-left: 60%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
}

.Food-list h1 {
    text-align: center;
    padding-bottom: 25px;
}

.Food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.Food-container div {
    min-width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.contact_page_container {
    display: none;
}

.Contact-page {
    /* width: 100%; */
    height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    width: 85%;
    height: 700px;
    border: 2px solid black;
    display: flex;
}
#div1 {
    width: 50%;
    height: 100%;
    /* background-color: #DF007C; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#div2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div2 form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div2 form h1 {
    text-align: center;
    padding-bottom: 10px;
}

form input {
    width: 95%;
    height: 50px;
    margin: 15px 0 ;
    border: 1px solid ;
    font-size: 18px;
    outline: none;
    padding-left: 6px;
    border-radius: 15px;
    background: transparent;
}

textarea {
    width: 95%;
    height: 150px;
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    padding-left: 6px;
    font-size: 18px;
    resize: none;
}


form button {
    margin: 25px 0 10px 0 ;
    width: 95%;
    height: 50px;
    background-color: darkorange;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

#div1 img {
    transform: scale(2);
}


